

	.user-image {
		height: 15rem;
		width: 15rem;
		border: .25rem solid white;
	}

	.manager-image {
		height: 5rem;
		width: 5rem;
		border: .15rem solid white;
	}

	.collection {
		border: none;
		margin: 0;

		.collection-item {
			background: transparent;
			padding-left: 0;
			cursor: pointer;
		}

		a {
			color: white;
			// cursor: pointer;
		}
	}

