nav {
  background: #fff;
  
  .brand-logo, a, ul {
    color: #444;
  }

  .brand-logo {
    padding-left: 1rem;
    // color: #444;
  }
}

.highlight-buttons {
  background: #76b852;

  a {
    color: white !important;
  }
}