.dashboard {
	background: #eeeeee;
	height: 100vh;

	.user-image {
		height: 15rem;
		width: 15rem;
		border: .25rem solid white;
	}

	.manager-image {
		height: 5rem;
		width: 5rem;
		border: .15rem solid white;
	}

	.collection {
		border: none;
		margin: 0;

		.collection-item {
			background: transparent;
			padding-left: 0;
		}

		a {
			color: white;
		}
	}
}
